
html,body{
    width:100%;
    margin:0px;
}  
.scroll-box {
      overflow-y: scroll;
      height: 350px;
      padding: 1rem;
  }
.container {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
  }
.container::after {
      content: "";
      clear: both;
      display: table;
  }

.container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
  }

.time-right {
      float: right;
      color: #aaa;
  }
.navbar-nav > li > a {
      padding-top:2px !important; 
      padding-bottom:2px !important;
    }
  
.navbar {
        max-height: 90px !important;
        width:100% !important; 
    }
